{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Cambiar contraseña: {{ usuario.username }}</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="password" class="form-label">Nueva contraseña</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="{{ url_for('listar_usuarios') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
