{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>
                    <a href="{{ url_for('cambiar_password', user_id=u.id) }}" class="btn btn-sm btn-warning">Cambiar contraseña</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
